{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:add{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s5 offset-s4">
    <h3> Créer une nouvelle partie</h3>
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
    <div class="row">
        <div class="col s5 offset-s3">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        </div>
      <div class="row">
          <div class="col s5 offset-s5">
          <button class="btn waves-effect waves-light light-blue darken-1" type="submit" name="action"><i class="material-icons left">add</i>Créer </button>
      </div>
      </div>
        {{ form_end(form) }}
    </div>
{% endif %}
{% endblock %}
