{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:index{% endblock %}

{% block body %}



    {% if is_granted('ROLE_USER') %}
        <h3> Liste des parties en attente d'un joueur</h3>
            <a href="{{ path('app_game_add') }}" >
            <button class="btn waves-effect waves_light  light-blue darken-1">
                Créer une nouvelle partie <i class="material-icons right">add</i>
            </button>
        </a>


    <ul class="collection">
    {% for game in games %}
    <li class="collection-item avatar">
        <span class="name">
            <h5><i class="material-icons circler">people</i> {{ game.name }}</h5>
        </span>

        <blockquote> Créee par : {{ game.creator }}</blockquote>

        <a href="{{ path('app_game_rejoindre', {id: game.id}) }}" >
            <button class="btn waves-effect waves_light green"><i class="material-icons right">gamepad</i>
                Rejoindre
            </button>
        </a>
    </li>

    {% endfor %}
    </ul>

    {% else %}
        <h3>Créez vous un compte pour pouvoir jouer au jeu de dames</h3>
        {% endif %}

{% endblock %}
